.heading-line::before{
    content: "";
    width: 10rem;
    height: .1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line::after{
    content: '';
    width: 2rem;
    height: .4rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}